*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    z-index: 10;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    
}

nav ul li a{
    text-decoration: none;
    color: #000;
}


nav .logo{
    width: 220px;
    cursor: pointer;
}

.nav-btn{
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.nav-btn img{
    width:16px;
    margin-left: 8px;
}


.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header h1{
    margin-top: 100px;
    font-size: 10vw;
    line-height: 11vw;
}

.header p{
    max-width: 360px;
    font-weight: 300;
}

.user-img{
    width: 80%;
    max-width: 400px;
    position: absolute;
    right: 3%;
    bottom: 0;
}

.university-img{
    width: 550px;
    max-width: 400px;
    position: absolute;
    border-radius: 6px;
    right: 5%;
    bottom: 0;
    position: fixed;
    padding-bottom: 200px;
}

/*--------animation ------*/
.header h1 span{
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 0%;
}

.header h1 span:first-child{
    animation: textcolor1 2s linear infinite alternate;
}

.header h1 span:last-child{
    animation: textcolor2 2s linear infinite alternate;
}
@keyframes textcolor1 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
} 

@keyframes textcolor2 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 0%;
    }
    100%{
        background-size: 100%;
    }
} 

.menu-icon{
    display: none;
}

/*--------media query for navbar ------*/

@media only screen and (max-width : 600px){
    nav ul{
        position: absolute;
        width: 100%;
        background: #000;
        color: #fff;
        left: 0;
        top: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav-btn{
        display: none;
    }
    nav .logo{
        width: 150px;
    }
    nav ul li{
        margin: 10px;
        font-size: 14px;
    }
    .menu-icon{
        display: block;
        width: 30px;
    }
    .show-menu{
        max-height: 60px;
    }
}

/*--------media query for navbar ------*/

@media only screen and (max-width:600px){
    .header{
        min-height: auto;
        padding: 0;
    }
    .user-img{
        width: 100%;
        right: auto;
        position: relative;
        margin-top: 100px;
    }
    .header-content{
        position: absolute;
        bottom: 0;
        padding: 0 10%;
        z-index: 2;
        padding-bottom: 40px;
        background: linear-gradient(transparent, #fff);
    }
    .btn-container{
        margin: 5px 0;
    }
    .header button{
        font-size: 14px;
        margin-right: 10px;
    }
    .btn-dark{
        padding: 7px 7px 7px 20px;
        margin-bottom: 10px;
    }
    .btn-dark img{
        width: 30px;
        padding: 5px;
        margin-left: 15px;
    }
    .btn-light img{
        width: 12px;
        margin-left: 5px;
    }
    .header h1{
        font-size: 70px;
        line-height: 60px;
        margin-bottom: 20px;
    }
}


.loginForm{
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 15px;
    backdrop-filter: blur(500px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form{
    width: 1200px; /* Adjust the total width to fit the two columns */
    border: 2px solid #ccc;
    padding: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
    backdrop-filter: blur(500px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; /* Add flex display to form */
}



.form-column {
    flex: 1; /* Equal width for both columns */
    padding: 0 15px; /* Add padding to columns */
}



h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

textarea{
    display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
  
   color: #A94442;
 
   border-radius: 5px;
   
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 
